body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #343a40;
    margin: 0;
    padding: 0;
}


h1,h3 {
    color: #343a40;
}

h1 {
    color: #343a40;
}

/* クイズ項目カードのスタイル */
.quiz-item {
    border: 1px solid #e9ecef;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* クイズ項目カードのホバースタイル */
.quiz-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-alert{
    text-align: center;
}



/* アウトラインセカンダリボタンのスタイル */
.btn-outline-secondary {
    border-color: #6c757d;
}

/* 編集ボタンのスタイル */
.btn-edit {
    white-space: nowrap;
    width: auto;
    text-align: center;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    border: 1px solid #dee2e6;
    background-color: #f0f4f8;
    color: black;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-link:hover {
    background-color: #495057;
    color: white;
}

.page-item .active {
    border: 1px solid #dee2e6;
    background-color: #495057;
    color: white;
}

