<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ編集</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link th:href="@{/css/editChoices.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>

<body>
    <div th:insert="~{header}"></div>
    <h3 class="text-center">クイズ編集</h3>
    <div class="alert alert-danger custom-alert" th:if="${errorMessage}" role="alert" th:text="${errorMessage}">
    </div>
    <div class="main-container">
        <form id="editForm" method="post" class="createChoicesForm">
            <input type="hidden" name="id" th:value="${session.choices.id}">
            <input type="hidden" name="titlesId" th:value="${session.choices.titlesId}">

            <div class="mb-3">
                <label for="question" class="form-label">問題:</label>
                <span th:if="${questionMessage}" th:text="${questionMessage}" class="text-danger"></span>
                <textarea class="form-control" id="question" rows="3" name="question"
                    th:text="${session.choices.question}"></textarea>
            </div>

            <div class="mb-3">
                <label for="choice1" class="form-label">選択肢1(正答):</label>
                <span th:if="${choice1Message}" th:text="${choice1Message}" class="text-danger"></span>
                <input class="form-control" id="choice1" type="text" name="choice1"
                    th:value="${session.choices.choice1}">
            </div>
            <div class="mb-3">
                <label for="choice2" class="form-label">選択肢2(誤答):</label>
                <span th:if="${choice2Message}" th:text="${choice2Message}" class="text-danger"></span>
                <input class="form-control" id="choice2" type="text" name="choice2"
                    th:value="${session.choices.choice2}">
            </div>
            <div class="mb-3">
                <label for="choice3" class="form-label">選択肢3(誤答):</label>
                <span th:if="${choice3Message}" th:text="${choice3Message}" class="text-danger"></span>
                <input class="form-control" id="choice3" type="text" name="choice3"
                    th:value="${session.choices.choice3}">
            </div>
            <div class="mb-3">
                <label for="choice4" class="form-label">選択肢4(誤答):</label>
                <span th:if="${choice4Message}" th:text="${choice4Message}" class="text-danger"></span>
                <input class="form-control" id="choice4" type="text" name="choice4"
                    th:value="${session.choices.choice4}">
            </div>
            <div class="button-container">
                <button class="btn btn-primary w-100 custom-btn-primary" type="button" onclick="showPopup()">確認</button>
            </div>
        </form>
    </div>
    <form th:action="@{/edit}" class="button-container returnBtnForm " method="post">
        <input type="hidden" name="titlesId" th:value="${session.choices.titlesId}">
        <button class="btn btn-custom">クイズ詳細に戻る</button>
    </form>

    <div class="overlay"></div>

    <div class="confirmPopUp" style="display: none;">
        <h3>変更内容確認</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>問題</th>
                    <th>選択肢1</th>
                    <th>選択肢2</th>
                    <th>選択肢3</th>
                    <th>選択肢4</th>
                </tr>
            </thead>
            <tbody>
                <tr class="before">
                    <td>before</td>
                    <td th:text="${session.choices.question}"></td>
                    <td th:text="${session.choices.choice1}"></td>
                    <td th:text="${session.choices.choice2}"></td>
                    <td th:text="${session.choices.choice3}"></td>
                    <td th:text="${session.choices.choice4}"></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: center;">↓</td>
                </tr>
                <tr class="after">
                    <td>after</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="button-container">
            <button class="btn btn-primary w-100 custom-btn-primary" type="button"
                onclick="submitUpdateForm()">更新</button>
            <button class="btn btn-custom cancel-btn">キャンセル</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/editChoices.js}"></script>
</body>

</html>